#mainWin{
  width: 700px;
  height: 400px;
  margin-bottom: 50%;
  margin-left: 35%;
  overflow: hidden;
}

.about {
    display:inline-block;
    border: #000000 solid 1px;
    height: 90%;
    padding-bottom: 10;
    margin: 0 0 0 0;
}

.about select {
    width: 100%;
    height: 100%;
    display:block;
    margin: 0px;
}

#contacts{
    width: 300px;
    overflow: scroll;
}

#content{
    position: inherit;
    float: left;
    width: 300px;
}

#content textarea {
    position: inherit;
    width: 100%;
    height: 80%;
}

#images li {
    margin-bottom: 10px;
}

#clientCode{
    margin-left: 35%;
}

#menu{
    margin-left: 43%;
}

.sendButton{
    margin-top: 10px;
    position: inherit;
    float: left;
}
